@font-face {
    font-family: Manrope;
    src: local('Manrope-VariableFont_wght.ttf'),
        url('fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Overpass Nerd Font;
    src: local('Overpass Nerd Font'),
        url('fonts/OverpassMNerdFont-Regular.otf') format('truetype');
    font-weight: normal;
}

:root,
:root.light {
    --bg-color: #c9d9f3;
    --panel-bg-color: #F2F3F4;
    --text-color: #282828;
    --title-color: #F2F3F4;
    --progbar-background: lightgrey;
    --progbar-gradient: linear-gradient(270deg, #186396, #a4bbca, #186396);
    --header-gradient: linear-gradient(-90deg, #4b6cb7 0%, #182848 100%);
    --header-border: #282828;
    --subprocess-border: #282828;
    --date-part: blue;
    --label-part: gray;
    --id-part: #e1743d;
    --button-color: #282828;
    --button-color-soft: #484848;
    --button-bg-color: #F2F3F4;
    --button-hover-bg-color: #c9d9f3;
    --button-hover-color: #282828;
    --emphasis: #4b6cb7;

}

:root.dark {
    --bg-color: #1d2021;
    --panel-bg-color: #282828;
    --text-color: #ebdbb2;
    --title-color: #ebdbb2;
    --progbar-background: #605956;
    --progbar-gradient: linear-gradient(90deg, #98971a, #689d6a, #b8bb26);
    --button-highlight: #dde4f0;
    --header-gradient: linear-gradient(90deg, #6c97a4 0%, #458588 100%);
    --header-border: #ebdbb2;
    --subprocess-border: #ebdbb2;
    --date-part: #458588;
    --label-part: #689d6a;
    --id-part: #e1743d;
    --button-color: #ebdbb2;
    --button-color-soft: #b2a585;
    --button-bg-color: #3c3836;
    --button-hover-color: #ebdbb2;
    --button-hover-bg-color: #504b48;
    --emphasis: #458588;
}


/* General body styling */
body {
    font-family: "Manrope", "Overpass Nerd Font", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    /* background: linear-gradient(27deg, rgb(226, 248, 248) 0%, rgb(248, 235, 205) 100%);  */
    background-size: 200% 200%;
    -webkit-animation: BackgroundGradient 18s ease infinite;
    -moz-animation: BackgroundGradient 18s ease infinite;
    animation: BackgroundGradient 18s ease infinite;
}


@-webkit-keyframes HeaderGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes HeaderGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@keyframes HeaderGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-webkit-keyframes BackgroundGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes BackgroundGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@keyframes BackgroundGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

/* Main header style */
.header {
    text-align: left;
    height: 7.5vh;
    margin-left: -1vh;
    background: var(--header-gradient);
    border: 0px solid var(--header-border);
    border-bottom-width: 3px;
    align-items: center
}

.title {
    text-align: left;
    font-size: 30px;
    font-weight: 1500;
    font-variant: ExtraBold;
    font-style: ExtraBold;
    color: var(--title-color);
    padding-left: 1%;
    text-overflow: ellipsis;
    display: block ruby;
}

.logo-right {
    width: 3%;
    text-align: center;
    padding-right: 2%;
}

.logo-left {
    width: 100%;
    text-align: center;
    padding-left: 2%;
}

/* Styling for top boxes */
.top-box-headers {
    flex-direction: row;
    flex-flow: row;
}

.title-upper {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px !important;
    margin-bottom: 10px;
}

.last-updated {
    text-align: right;
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px !important;
    margin-bottom: 10px;
}

/* Styling for top boxes */
.top-box {
    flex-direction: row;
    flex-flow: row;
    gap: 2%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.left-box,
.right-box {
    vertical-align: top;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    font-size: 14px;

}

.top-box-left-headers {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: baseline;
    /* padding: 0.1vh 0.5%; */
}

.top-box-title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.top-box left-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: baseline;
}

.top-box-right-headers {
    flex-flow: column;
}

.left-box {
    /* flex-grow: 4; */
    background-color: var(--panel-bg-color);
    padding: 0.1vh 0.5%;
    font-size: 12;
}

.right-box {
    height: 100%;
    padding: 0.1vh 0.5%;
    background-color: var(--panel-bg-color);
    font-size: 12;
}

.workchain-progress-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-flow: row;
    width: 100%;
    padding-bottom: 10px;
}

.workchain-progbar {
    flex-grow: 4;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    background-color: var(--progbar-background);
}

.workchain-progbar-error {
    flex-grow: 4;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    background-color: #961818;
}

@-webkit-keyframes ProgBar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes ProgBar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes ProgBar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.workchain-progbar::-moz-progress-bar {
    background: var(--progbar-gradient);
    background-size: 400% 400%;
    -webkit-animation: ProgBar 4s ease infinite;
    -moz-animation: ProgBar 4s ease infinite;
    animation: ProgBar 4s ease infinite;
}

.workchain-progbar-error::-moz-progress-bar {
    background: linear-gradient(270deg, #961818, #fb1818, #961818);
    background-size: 400% 400%;
    -webkit-animation: ProgBar 3s ease infinite;
    -moz-animation: ProgBar 3s ease infinite;
    animation: ProgBar 3s ease infinite;
}


.workchain-progbar::-webkit-progress-value {
    background-color: green !important;
}

.workchain-progbar-done {
    flex-grow: 4;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    background-color: var(--progbar-background);
}

.workchain-progbar-done::-moz-progress-bar {
    background-color: green !important;
}

.workchain-progbar-done::-webkit-progress-value {
    background-color: green !important;
}

.top-text {
    width: auto;
    margin: 0;
}

/* Column container styles */
.column-container {
    width: 100%;
    height: 75vh;
}

.column {
    vertical-align: top;
}

.left-column {
    width: 20%;
    background-color: var(--panel-bg-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    overflow-y: auto;
}

.right-column {
    /* width: 80%; */
    overflow-y: auto;
    background-color: var(--panel-bg-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    font-size: 14px;
}

.live-text {
    font-family: Overpass Nerd Font, monospace;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    max-height: 72.5vh;
}

/* Dynamic text styles */
.dynamic-text {
    color: green;
    font-size: 12px;
}

.report-text {
    white-space: pre-wrap;
}

.date-part {
    color: var(--date-part);
}

.label-part {
    color: var(--label-part);
}

/* Scrollbars customization */
.right-column::-webkit-scrollbar {
    width: 8px;
}

.right-column::-webkit-scrollbar-track {
    background: #ebdbb2;
}

.right-column::-webkit-scrollbar-thumb {
    background: #888;
}

.right-column::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .bottom-row {
    max-height: 40%;
} */

.subprocess-list-col {
    overflow-y: auto;
    max-height: 72.5vh;
}

.subprocess-list {
    background-color: var(--panel-bg-color);
    padding-top: 0.5%;
    width: 100%;
    max-width: 100%;
    padding-right: 0.5%;
}

.subprocess-list>button {
    background-color: var(--panel-bg-color);
    color: var(--button-color);
    border: 1px solid var(--header-border);
    height: 50px;
    margin: 1%;
    padding: 0.1%;
    max-width: 99%;
    width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Manrope", "Overpass Nerd Font", sans-serif;
    font-size: 14px;
}


.subprocess-row button {
    border: 1px dashed var(--header-border);
    height: 35px;
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 12px;
}


.theme-switch {
    font-family: "Overpass Nerd Font", sans-serif;
    margin: 0.5%;
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 8%;
    text-align: center;
    padding: 0.1% 1% 0.1% 1%;
}

.subprocess-list [id^="button-"]:hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover-bg-color);
}



.nav .nav-pills .nav-fill {
    color: var(--text-color);
    /* background-color: var(--button-bg-color); */
    border-radius: 5%;
}

.nav-pills {
    color: var(--text-color);
    /* background-color: var(--button-bg-color); */
    /* border-radius: 2%; */
    text-align: center;
    /* padding: 0.1% 1% 0.1% 1%; */
    margin: 0.25%;
    font-family: "Manrope", "Overpass Nerd Font", sans-serif;
    font-size: 16px;
    /* border: 1px solid var(--header-border); */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
}

.nav-pills .nav-link.active {
    background-color: var(--emphasis);
    color: var(--title-color);
    border: 1px solid var(--header-border);
}

.nav-pills .nav-link {
    background-color: var(--button-bg-color);
    border: 1px solid var(--header-border);
    color: var(--button-color);
}

.nav-link {
    margin: 0.25%;
}

.nav-link:hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover-bg-color);
}


.switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin: 0.5%;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--emphasis);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--button-bg-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
