<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="{{ refresh_interval }}" />
    <title>MatDBForge Dashboard - Status - {{ workchain_node_id }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg') }}">
</head>

<body>
    <div class="row header g-0 px-2">

        <div class="col-md-10 col-sm-10 col-10">
            <h1 class="title">Active Learning Loop</h1>
        </div>

        <div class="col-md-1 col-sm-1 col-2">
            <label class="switch">
                <input type="checkbox" onclick="changeTheme()">
                <span class="slider round"></span>
            </label>
        </div>

        <div class="col-md-1 col-sm-1 d-none d-lg-block">
            <img src="{{ url_for('static', filename='logo_dark.png') }}" class="logo-left" alt="Logo">
        </div>
    </div>

    <!-- Navigation Tabs -->
    <div class="container-fluid my-2">
        <div class="row gx-0">
            <ul class="nav nav-pills nav-fill">
                <a class="nav-link active" href="/status"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5m0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
                    </svg> Status</a>
                <a class="nav-link" href="/results"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path
                            d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0z" />
                        <path
                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
                        <path
                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
                    </svg> </i>Results</a>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12 gy-2">
                <div class="g-2 left-box">
                    <div class="top-box-title">
                        <h3 class="title-upper">Workchain: {{ workchain_node_id }} - Current Iteration: {{ curr_iter }}
                        </h3>
                        <h3 class="last-updated">({{ update_time }})</h3>
                    </div>
                    <div class="top-box-left-headers">
                        <div class="workchain-progress-container">
                            <p class="top-text">Total progress:</p>
                            <progress class="{{ progbar_class_name }}" id="progress-update" value="{{ progbar_iter }}"
                                max="{{ max_iters }}"></progress>
                            <p id="iter-text" class="top-text">{{ iter_text }}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 gy-2">
                <div class="g-2 right-box">
                    <h3 class="title-upper">Training Performance</h3>
                    <p id="model-score-text" class="top-text">{{ model_stats }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-4 col-sm-12 subprocess-list-col gy-2 bottom-row">
                <div id="subprocess-list" class="subprocess-list g-2">
                    {% for entry in subprocess_list %}
                    {% set curr_it = entry[0]["curr_it"] %}

                    <button class="text-truncate" data-bs-toggle="collapse" href='#collapse{{ entry[0]["curr_it"] }}'
                        role="button" aria-expanded="false" aria-controls='collapse{{ entry[0]["curr_it"] }}'
                        type="calcjob-button">AL Loop
                        Iteration -
                        {{ curr_it|int }} ({{ cache.iloc[curr_it|int - 1]["pk"] }})
                    </button>

                    <script> console.log("entry: {{ entry }}") </script>
                    <div class="collapse multi-collapse subprocess-list" id='collapse{{ entry[0]["curr_it"] }}'>
                        {% for sub_pr in entry %}
                        <div class="subprocess-list subprocess-row">
                            <button id="{{  sub_pr['children']['child_pk'] }}" type="calcjob-button"
                                value="{{ sub_pr['children']['child_pk'] }}" onclick="copy_pk(this.value)">
                                {{ [sub_pr['children']["exit_status_str"]][0] }} &nbsp&nbsp&nbsp&nbsp|&nbsp {{
                                sub_pr['children']["child_process_label"]
                                }} ({{ (sub_pr['children']["child_pk"]) }})</button>
                        </div>
                        {% endfor %}
                        <!-- <script> console.log("sub_pr: {{ sub_pr }}") </script> -->
                    </div>

                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-9 col-md-8 col-sm-12 gy-2 bottom-row">
                <div id="live-update-text" class="right-column live-text g-2">
                    {% for entry in report %}
                    <p>
                        <span class="date-part">{{ entry["date_part"] }} </span>
                        <span class="id-part">{{ entry["id_part"] }} </span>
                        <span class="label-part">{{ entry["label_part"] }} </span>
                        <span class="report-text">{{ entry["report_part"] }} </span>
                    </p>
                    {% endfor %}
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <script>
        function copy_pk(clicked_id) {
            var copyText = clicked_id;
            navigator.clipboard.writeText(copyText);
        }

        const setTheme = (theme) => { document.documentElement.className = theme; localStorage.setItem('theme', theme); }
        const getTheme = () => { const theme = localStorage.getItem('theme'); theme && setTheme(theme); }
        getTheme();

        // function to change the current theme to the opposite one
        function changeTheme() {
            var currentTheme = localStorage.getItem('theme')
            var newTheme = currentTheme === "light" ? "dark" : "light";
            setTheme(newTheme);
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
