@font-face{
    font-family: Manrope;
    src: local('Manrope-VariableFont_wght.ttf'),
    url(../assets/fonts/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: Overpass Nerd Font;
    src: local('Overpass Nerd Font'),
    url(../assets/fonts/OverpassMNerdFont-Regular.otf) format('truetype');
    font-weight: normal;
}

/* General body styling */
body {
    font-family: "Manrope", "Overpass Nerd Font", sans-serif;
    background: #c9d9f3;
    /* background: linear-gradient(27deg, rgb(226, 248, 248) 0%, rgb(248, 235, 205) 100%);  */
    background-size: 200% 200%;
    -webkit-animation: BackgroundGradient 18s ease infinite;
    -moz-animation: BackgroundGradient 18s ease infinite;
    animation: BackgroundGradient 18s ease infinite;
}


@-webkit-keyframes HeaderGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes HeaderGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@keyframes HeaderGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-webkit-keyframes BackgroundGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@-moz-keyframes BackgroundGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

@keyframes BackgroundGradient {
    0% {
        background-position: 94% 0%
    }

    50% {
        background-position: 7% 100%
    }

    100% {
        background-position: 94% 0%
    }
}

/* Main header style */
.header {
    text-align: left;
    height: 7.5vh;
    margin-top: -1vh;
    margin-left: -1vh;
    margin-right: -1vh;
    background: linear-gradient(-90deg, #4b6cb7 0%, #182848 100%);
    border: 0px solid #282828;
    border-bottom-width: 3px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center
}

.title {
    text-align: left;
    font-size: 30px;
    font-weight: 1500;
    font-variant: ExtraBold;
    font-style: ExtraBold;
    color: #ffffff;
    flex-grow: 3;
    padding-left: 1%;
    /* padding-top: 0.5%; */
}

.logo-right {
    width: 3%;
    text-align: center;
    padding-right: 2%;
}

.logo-left {
    width: 10%;
    text-align: center;
    padding-right: 2%;
}

/* Styling for top boxes */
.top-box-headers {
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

.title-upper {
    /* flex-grow: 1; */
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px !important;
    margin-bottom: 10px;
}

/* Styling for top boxes */
.top-box {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    /* height: 7.5vh; */
    /* border-radius: 15px; */
    gap: 2%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.left-box,
.right-box {
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    vertical-align: top;
    /* padding: 0.1vh 0; */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    font-size: 14px;

}

.top-box-left-headers {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: baseline;
    /* padding: 0.1vh 0.5%; */
}

.top-box left-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: baseline;
}

.top-box-right-headers {
    flex-flow: column;
    /* padding: 0.1vh 0.5%; */
}

.left-box {
    flex-grow: 4;
    background-color: #ffffff;
    padding: 0.1vh 0.5%;
    font-size: 12;
}

.right-box {
    flex-grow: 1;
    padding: 0.1vh 0.5%;
    background-color: #ffffff;
    font-size: 12;
}

.workchain-progress-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-flow: row;
    width: 100%;
    padding-bottom: 10px;
}

.workchain-progbar {
    flex-grow: 4;
    margin-left: 2%;
    width: auto;
    background-color: lightgrey;
    border-radius: 2%;
}


@-webkit-keyframes ProgBar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes ProgBar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes ProgBar {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.workchain-progbar::-moz-progress-bar {
    background: linear-gradient(270deg, #186396, #a4bbca, #186396);
    background-size: 400% 400%;
    -webkit-animation: ProgBar 4s ease infinite;
    -moz-animation: ProgBar 4s ease infinite;
    animation: ProgBar 4s ease infinite;

}

.workchain-progbar::-webkit-progress-value {
    background-color: green !important;
}

.workchain-progbar-done {
    flex-grow: 4;
    /* margin: 0 auto; */
    margin-left: 2%;
    width: auto;
    background-color: lightgrey;
    ;
    border-radius: 2%;
}

.workchain-progbar-done::-moz-progress-bar {
    background-color: green !important;
}

.workchain-progbar-done::-webkit-progress-value {
    background-color: green !important;
}

.top-text {
    /* flex-grow: 1; */
    /* margin: 0 auto; */
    width: auto;
    margin: 0;
    /* padding-bottom: 10px; */
}

/* Column container styles */
.column-container {
    width: 100%;
    height: 75vh;
    display: flex;
    /* border-radius: 2%; */
    /* border-radius: 10px; */

}

.column {
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
    /* border-radius: 2%; */
}

.left-column {
    width: 20%;
    /* border-radius: 15px; */
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    overflow-y: auto;
}

.right-column {
    width: 80%;
    font-family: monospace;
    overflow-y: auto;
    /* border-radius: 2%; */
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.436);
    padding-left: 0.5%;
    margin-left: 15px;
    font-size: 14px;
}

/* Dynamic text styles */
.dynamic-text {
    color: green;
    font-size: 12px;
}

.report-text {
    white-space: pre-wrap;
}

.date-part {
    color: blue;
}

.label-part {
    color: grey;
}

/* Scrollbars customization */
.right-column::-webkit-scrollbar {
    width: 8px;
}

.right-column::-webkit-scrollbar-track {
    background: #ebdbb2;
}

.right-column::-webkit-scrollbar-thumb {
    background: #888;
}

.right-column::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.subprocess-list{
    display: flex;;
    flex-direction: column;
    /* overflow-y: auto; */
}

.subprocess-list [id^="button-"] {
    background-color: #3c3836;
    color: #ebdbb2;
    border: 1px solid #ebdbb2;;
    height: 50px;
    margin: 1%;
    padding: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Manrope", "Overpass Nerd Font", sans-serif;
}

.subprocess-list [id^="button-"]:hover {
    background-color: #504b48;
    color: #ebdbb2;
}


/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    body {
        background: #1d2021;
        color: #ebdbb2;
    }

    /* Styling for top boxes */
    .top-box-headers {
        background-color: #282828;
    }

    .workchain-progbar {
        background-color: #282828;
        border: 1.5px solid #ebdbb2;
    }

    .header {
        /* Darker header gradient */
        /* background: linear-gradient(90deg, #83a598 0%, #458588 100%); */
        background: #458588;
        border: 0px solid #ebdbb2;
        border-bottom-width: 3px;
    }

    .title {
        color: #ebdbb2;
    }

    .top-text {
        color: #ebdbb2;
    }

    /* Column container styles */
    .column-container {
        background-color: #282828;
    }

    .column {
        background-color: #282828;
    }

    .left-column {
        background-color: #282828;
    }

    .right-column {
        background-color: #282828;
    }

    .left-box,
    .right-box {
        background-color: #282828;
    }

    .date-part {
        color: #458588;
    }

    .label-part {
        color: #689d6a;
    }

    .workchain-progbar::-moz-progress-bar {
        background: linear-gradient(90deg, #98971a, #689d6a, #b8bb26);
        background-size: 400% 400%;
        -webkit-animation: ProgBar 4s ease infinite;
        -moz-animation: ProgBar 4s ease infinite;
        animation: ProgBar 4s ease infinite;

    }



}